/**
 * Colors
 */
$violet: #92137F;
$redViolet: #8f1332;
$petrol: #189e73;
$red: #a1222d;
$yellow: #FCCD39;
$text: #434343;
$grey: #c7c7c7;

/**
 * Normalize
 */
@import "normalize";
@import "foundation";

/**
 * Icon Font
 */

 @import "fontello-embedded_plus_ie7";

/**
 * Customize
 */
body {
  background: url("/images/cream_dust.png");
}

nav ul, nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}

h1, h2 {
  margin-top: emCalc(10);
}

h2 {
  display: inline-block;
  margin-bottom: emCalc(20);
  padding: 0.2em 0em;
}

.button {
  border-bottom-width: 0.2em;
  &:active {
    margin-top: 0.1em;
  }
  &.secondary {
    color: $text;
    border-bottom-color: darken($yellow, 20%);
    &:hover, &:focus, &:active {
      color: $text;
      border-bottom-color: darken($yellow, 22%);
    }
    &:active {
      border-bottom-width: 0.1em;
    }
  }
}

.header {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background: url("/images/header.jpg") no-repeat center center;
  background-size: cover;
  border-bottom: emCalc(5) solid $violet;
}

.header__headline {
  color: white;
  text-shadow: 0 0.1em 0.2em black;
  margin: 0.5em 0;
}

.header__logo {
  border: 1px solid white;
}

.ticket__action {
  font-family: "Leckerli One", Georgia, serif;
  font-size: 1.5em !important;
  margin-top: 0.3em;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
}

.menu {
  padding: 1em 0;
  background: $redViolet;
  font-size: emCalc(18);
  line-height: 1.6;
}

.menu__link {
  color: white;
  text-transform: uppercase;
  margin: 0 0.2em;
  padding: 0 0.3em;
  border-bottom: 0.1em solid $redViolet;
  &:hover, &:focus {
    color: white;
    border-bottom-color: white;
  }
}

.intro {
  margin: 4em 0 1em 0;
  h1 {
    font-weight: 300;
  }
}

.news__article {
  margin-bottom: 3em;
}

.sponsors__sponsor {
  margin-top: 5em;
  margin-bottom: 5em;
}

.footer {
  margin-top: 3em;
  a {
    color: white;
  }
}

.footer__sponsors__logo {
  margin-top: 1em;
  margin-top: 1em;
}

.footer__message {
  margin-top: 3em;
  background: $redViolet;
  color: white;
  line-height: 5.5;
  border-top: emCalc(5) solid $violet;
}

.about__image {
  margin: 1em 0 1em 0;
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em 1em;
    color: white;
    text-shadow: 0 0.1em 0.2em black;
    text-align: right;
    a {
      color: white;
    }
  }
}

.sponsoring {
  font-size: 1.5em;
  padding: 0 0 1em 0;
  line-height: 1.4;
}

.email {
  padding: 0.5em 0 0.5em 0;
}

.icon-rss {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 0.625em;
}