extends layout

block content
  .intro
    .row
      .small-12.columns.text-center
        h1
          | JavaScript Unconference is your conference.
          br
          | You decide what will happen.

  .location.text-center
    .row
      .small-12.columns
        != contents.location['index.md'].html