extends layout

block content
  .intro
    .row
      .small-12.columns.text-center
        h1
          | JS Unconf is about you.
          br
          | You decide what will happen.

  .location
    .row
      != contents.location['index.md'].html