extends layout

block prepend title
  | #{ page.title + " - "}

block content
  .news
    .row
      .small-12.columns
        h1 News
    .row
      - var articles = _.chain(contents.news._.directories).map(function(item) {
      -   return item.index;
      - }).compact().sortBy(function(item) {
      -   return -item.date;
      - }).value();

      each article in articles
        article.news__article.small-12.large-centered.columns
          h3
            a(href=article.url)
              = article.title
              | &nbsp;
              small= moment(article.date).format('MMMM DD YYYY')
          section.news__article__content
            !{ typogr(article.intro).typogrify() }
