extends layout

block prepend title
  | #{ page.title + " - "}

block content
  .row
    .small-12.columns
      article
        header
          h1!= page.title

        section!= typogr(page.html).typogrify()
